@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: var(--bg-1);
    z-index: -2;
}
.booking-input {
    display: none;
}
#booking-input-1 ~ label{
    background-color: var(--bg-9);
}
#booking-input-2 ~ label{
    background-color: var(--bg-9);
    
}
#booking-input-3 ~ label{
    background-color: var(--bg-9);
}
#booking-input-4 ~ label{
    background-color: var(--bg-9);
}


#booking-input-1:checked ~ label{
    background-color: var(--bg-8);
}
#booking-input-2:checked ~ label{
    background-color: var(--bg-8);
    
}
#booking-input-3:checked ~ label{
    background-color: var(--bg-8);
}
#booking-input-4:checked ~ label{
    background-color: var(--bg-8);
}

main {
    margin: 0;
    padding: 0;
    background-color: var(--bg-1);
    transition: 0.2s;
}
.main-header {
    position: sticky;
    top: 0;
    padding: 1em;
    background-color: var(--bg-2);
    border-radius: 0 0 1em 1em;
    font-family: "Work Sans", sans-serif;
    color: var(--text-bg-1);
    z-index: 1;
    filter: drop-shadow(0 1em 1em rgb(128, 128, 128, 0.8));
}
.logo-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 1em;
}
.icon-logo-container {
    display: inline-block;
    width: 100%;
    height: max-content;
    align-self: center;
    color: var(--text-bg-1);
}
.icon-peace-logo {
    display: inline-block;
    margin-left: 0%;
    align-self: center;
    color: var(--text-bg-1);
    animation: logo-animation 5s 3s 3;
}

/* Menu */
nav {
    background-color: var(--bg-2);
}
#menu-toggle {
    display: none;
}
.menu-label {
    position: fixed;
    right: 1em;
    width: max-content;
    border-radius: 3px;
    padding: 0px;
    z-index: 10;
    color: var(--text-bg-1);
    font-size: 3em;
}
.menu-label:hover {
    cursor: pointer;
}
#menu-toggle:checked ~ main {
    transform: translate(-10.1em, 0);
    transition: 0.2s;
    filter: brightness(60%) grayscale(25%);
}
.top-menu {
    background-color: var(--bg-4);
    position: fixed;
    width: max-content;
    height: 100%;
    top: 0;
    right: 0;
    transition: 0.2s;
    padding: 0 1em;
    z-index: -1;
}
.top-menu p {
    width: 100%;
    text-align: end;
}
.top-menu p a {
    color: var(--bg-1);
    text-decoration: none;
}
.menu-items {
    width: max-content;
    display: flex;
    flex-flow: column;
    margin-top: 5em;
    margin-right: auto; 
}
.menu-items img {
    width: 1em;
    justify-self: center;
    align-self: center;
}
/* Menu */


.main-header {
    position: sticky;
    top: 0;
    padding: 1em;
    background-color: var(--bg-2);
    border-radius: 0 0 1em 1em;
    font-family: "Work Sans", sans-serif;
    color: var(--text-bg-1);
    z-index: 1;
}
.main-section {
}
.main-form input {
    width: 40%;
}
.main-form form {
    display: grid;
    grid-gap: 1em;
    text-align: center;
}
.main-table {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 5px solid var(--text-bg-1);
    border-radius: 0.5em;
    color: var(--text-bg-1);
    font-family: 'Roboto', sans-serif;
}  
.main-table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
.main-table tr {
    padding: .35em;
}
.main-table th,
.main-table td {
    padding: .625em;
    text-align: center;
}
.main-table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.main-form {
    display: grid;
    margin-top: 5em;
    padding: 1em;
    justify-self: center;
    color: var(--nc-tx-1);
    border: 5px solid var(--text-bg-1);
    border-radius: 0.5em;
    grid-gap: 1em;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-3);
}
.main-form div {
    justify-self: left;
    width: 100%;
}
.main-form h1 {
    text-align: center;
    justify-self: center;
}
.main-form label {
    font-weight: bolder;
}
.background-border {
    margin: 1em;
    padding: 1em;
    background-color: var(--bg-2);
    border-radius: 0.5em;
    font-family: "Work Sans", sans-serif;
    color: var(--text-bg-1);
}
/* Chatbox */
.chatbox-label {
    display: flex;
    position: fixed;
    background-color: var(--bg-7);
    width: 4em;
    height: 4em;
    border-radius: 1em;
    bottom: 0;
    right: 0;
    transform: translate(-25%, -25%);
    z-index: 2;
    filter: drop-shadow(0 0 1em green);
}
.chatbox-label p {
    display: inline-block;
    margin: 0;
    text-align: center;
    align-self: center;
    flex-grow: 1;
}
.chatbox-label:hover {
    cursor: pointer;
}
.chatbox-section {
    position: fixed;
    background-color: var(--bg-7);
    width: 80%;
    padding: 1em;
    font-family: "Work Sans", sans-serif;
    border-radius: 1em;
    right: 50%;
    bottom: 0;
    transform: translate(50%, 100%);
    transition: 0.5s;
    z-index: 3;
}
.chatbox-section h1 {
    text-align: center;
}
#chatbox-input:checked ~ .chatbox-section {
    transform: translate(50%, -25%);
}
#chatbox-input {
    display: none;
}
.chatbox-section form {
    border: 1px solid black;
    padding: 5vw;
    border-radius: 1em;
}
.chatbox-section form input {
    width: 100%;
    background-color: var(--bg-8);
    border-color: rgb(66, 66, 66);
    border-style: solid;
}
.message-box textarea {
    width: 100%;
    height: 5em;
    resize: none;
    border-color: rgb(66, 66, 66);
    border-style: solid;
    background-color: var(--bg-8);
}
.chatbox-submit {
    margin: auto;
    width: 50%;
}
/* Chatbox */
footer {
    background-color: var(--bg-2);
    padding: 1em;
    color: var(--text-bg-1);
    border-radius: 1em 1em 0 0;
    justify-self: center;
    font-family: "Work Sans", sans-serif;
}

@media screen and (min-width:48rem) {
    .main-table {
        width: 100%;
        justify-self: normal;
    }
    .chatbox-section {
        transform: translate(-30%, 100%);
        width: 20em;
        right: 0;
    }
    #chatbox-input:checked ~ .chatbox-section {
        transform: translate(-30%, -5%);
    }
    .chatbox-section form {
        padding: 1em;
    }
}
@media screen and (max-width: 600px) {
    .main-table {
        width: 80vw;
        justify-self: center;
    }
    .main-table caption {
        font-size: 1.3em;
    }
    
    .main-table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .main-table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    .main-table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    .main-table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
    .main-form {
        grid-template-columns: 1fr;
    }
    .filler {
        display: none;
    }
}
@keyframes logo-animation {
    0% {
        margin-left: 0%;
        transform: rotate(0deg);
    }
    25% {
        margin-left: 50%;
        transform: rotate(45deg);
    }
    50% {
        margin-left: 25%;
        transform: rotate(22.5deg);
    }
    75% {
        margin-left: 90%;
        transform: rotate(180deg);
    }
    100% {
        margin-left: 0%;
        transform: rotate(360deg);
    }
}
:root {
	/* Light theme */
	--text-bg-1: #000000;
	--text-bg-2: #1A1A1A;
    --text-bg-3: rgb(60, 60, 60);
	--bg-1: #FFFFFF;
	--bg-2: #dbdbdb;
	--bg-3: #bbbbbb;
    --bg-4: orange;
    --bg-5: rgb(255, 208, 0);
    --bg-6: rgb(207, 207, 251);
    --bg-7: rgb(46, 108, 63);
    --bg-8: rgb(223, 245, 255);
    --bg-9: rgb(156, 156, 255);


	/* Dark theme */
	--text-bg-1-dark: #ffffff;
	--text-bg-2-dark: #eeeeee;
	--text-bg-3-dark: #000000;
	--bg-1-dark: #111111;
	--bg-2-dark: #3b3b3b;
    --bg-3-dark: rgb(71, 71, 71);
    --bg-4-dark: rgb(183, 100, 0);
    --bg-5-dark: rgb(223, 179, 1);
    --bg-6-dark: rgb(112, 112, 243);
    --bg-7-dark: rgb(36, 73, 46);
    --bg-8-dark: white;
    --bg-9-dark: rgb(19, 19, 152);
}
@media (prefers-color-scheme: dark) {
	:root {
		--text-bg-1: var(--text-bg-1-dark);
	    --text-bg-2: var(--text-bg-2-dark);
        --text-bg-3: var(--text-bg-3-dark);
        --bg-1: var(--bg-1-dark);
        --bg-2: var(--bg-2-dark);
        --bg-3: var(--bg-3-dark);
        --bg-4: var(--bg-4-dark);
        --bg-5: var(--bg-5-dark);
        --bg-6: var(--bg-6-dark);
        --bg-7: var(--bg-7-dark);
        --bg-8: var(--bg-8-dark);
        --bg-9: var(--bg-9-dark);
	}
}
